/*Available at https://github.com/GoogleChrome/dialog-polyfill.git*/
/*polyfill for dialog*/
dialog {
  position: absolute;
  left: 0; right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  margin: auto;
  border: solid;
  padding: 1em;
  background: white;
  color: black;
  display: block;
}

dialog:not([open]) {
  display: none;
}

dialog + .backdrop {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  background: rgba(0,0,0,0.1);
}

._dialog_overlay {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
}

dialog.fixed {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 999;
}

#exit{
  background-color: #1d5374;
  border: 1px solid #1d7db7;
  border-bottom: 1px solid #1d7db7;
  border-radius: 3px; 
  color: white;
  font-weight: bold;
  padding: 6px 20px;
  text-align: center;
}

#exit:hover {
  opacity:.85;
  cursor: pointer; 
}