/*Responsive styles for different screens adaption*/

/*------MENU on small screens*/
@media screen and (max-width : 610px){
	
  /*adapt single menu items*/
  #menu li,#menu li a {
    width: 100%;
  }
  #menu {/*ul*/
    position: static;
    display: none;
  }
  /*Display 'show menu' link*/
  .show-menu {
    display:block;
  }
    
  /*display only weather icon*/
  #descr{
      display: none;
  }
  /*position icon next to menu*/    
  #weather{
      position: absolute;
      right: 0;
      top: 0;
  }
    
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{/*go full scree*/
      width: 100%;
  }
    
  /*do not siplay video but the image instead*/
    #video{
        display: none;
    }
    #intro{
        background-image: url(../images/video.jpg);
        background-size: cover;
        display: block;
        
    }
    
   

}

@media screen and (max-width : 900px) and (min-width : 610px){
    .col-4{
        width: 50%; 
    }
    
}

@media screen and (min-width : 1024px){
    .container{
        max-width: 1024px;
        margin: 0 auto;
    }
    
    header{
        max-width: inherit;
    }
    
    #intro{
        max-width: 1024px;
    }
    #logo{
        max-width: inherit;
    }
    #video{
        max-width: 1024px;
    }
    #my-video{
        max-width: inherit;
        left: auto;
        right: auto;
        min-width: inherit;
    }
    
}






