/* CSS file for syling components*/
body{
  margin: 0;    
}
main{
  width: 100%;
}


/*.clear-fix{
  clear: both;    
}*/
/*--------- MENU ----------------*/
header{
  width: 100%;
  background-color: #000;
  position: fixed;
  top: 0;
  z-index: 100;
}
#menu{/*remove styles from ul*/
  list-style-type:none;
  margin:0;
  padding:0;
}


#menu li{/*display inline*/
  display: inline-block;
  float: left;  
}

#menu li a{
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: #000;
  color: #fff;    
  height: 50px; 
  line-height: 50px;    
}

#menu li:hover a {/*hovering over link change background color and text color*/
  background: #fff;
  color: #000;
}

/*hidden show menu, only available on small screens*/
.show-menu{
    text-align: center;
    background-color: #000;
    color: #fff;
    display: none;
    height: 50px;
    line-height: 50px;
    width: 100%;
}

/*hide check box that allow to trigger the menu on small devices*/
input[type=checkbox]{
    display: none;
}

/*Show menu when checkbox will be checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}

/*---------MENU END----------------*/

/*----------VIDEO--------*/


#video{
    
    height: 100vh;
}
#my-video {
/*  making the video fullscreen  */
  position: absolute;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

/*-----LOGO-------*/

#logo{
        position: absolute;
    top: 30%;
    text-align: center;
    z-index: 99;
    width: 100%;
}

/*-----LOGO END-------*/

/*--------VIDEO END-------*/



/*-------ABOUT-------*/



/*-------ABOUT END-------*/

/*------MAIN -------*/




/*--------PORTFOLIO ----------*/

    


.front img{
    width: 100%;
}
.f1_container {
  perspective: 1000;
}
.f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 2s;

}
.f1_container:hover .f1_card {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
}
.face {
  /*position: absolute;*/
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.back {
    top: 0;
    left: 0;
    position: absolute;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  text-align: center;
  background-color: #aaa;
}

/*--------PORTFOLIO END ----------*/

/*-------FOOTER--------*/
