/* CSS file for syling components*/
body{
  margin: 0;
  font-family: "open_sans", sans-serif; 
    
}
main{
  width: 100%;
}

h1{
 font-family: "evogria"; 
    color: #678;
}

h2{
 font-family: "evogria-italic";
    color: #678;
}
/*.clear-fix{
  clear: both;    
}*/
/*--------- MENU ----------------*/


header{
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 100;
  box-shadow: 0 1px 3px rgba(0,0,0,0.4);
}


#menu{/*remove styles from ul*/
  list-style-type:none;
  margin:0;
  padding:0;
}


#menu li{/*display inline*/
  display: inline-block;
  float: left;
  padding-left: 10px;
  text-transform:uppercase;    
}

#menu li a{
  display: block;
  text-decoration: none;
  text-align: center;
  color: #678;    
  height: 50px; 
  line-height: 50px;
  font-family: "evogria";     
}

#menu li:hover a {/*hovering over link change background color and text color*/
  color: #000;
}

/*hidden show menu, only available on small screens*/
.show-menu{
    text-align: center;
    background-color: #fff;
    color: #678;
    display: none;
    height: 50px;
    line-height: 50px;
    width: 100%;
    text-transform:uppercase;
    font-family: "evogria";
}

/*hide check box that allow to trigger the menu on small devices*/
input[type=checkbox]{
    display: none;
}

/*Show menu when checkbox will be checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
    
}

/* weather*----------------------*/
#weather{
  float: right;
  padding-right: 10px;    
}
#descr{
    background-color: #fff;
  color: #678;    
  height: 50px; 
  line-height: 50px;
  font-family: "evogria"; 
    
}

#icon{
    height: 50px;
    width: 50px;
    display: block;
    float: right;
   
}

/*---------MENU END----------------*/

/*----------VIDEO--------*/


#intro{
    
    height: 100vh;
}


#my-video {
/*  making the video fullscreen  */
  position: absolute;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

/*-----LOGO-------*/

#logo{
        position: absolute;
    top: 30%;
    text-align: center;
    z-index: 99;
    width: 100%;
}

/*-----LOGO END-------*/

/*--------VIDEO END-------*/



/*-------ABOUT-------*/

/*icons*/
  .pr{
    font-size: 4em;
  }

/*-------ABOUT END-------*/

/*------MAIN -------*/




/*--------PORTFOLIO ----------*/

    


.view {
    overflow: hidden;
   position: relative;
    
   
   
  }
.view .mask,.view .content {
   position: absolute;
   overflow: hidden;
    top: 0; 
	left: 0; 
	
}
.view img {
    width: 100%;
   display: block;
   position: relative;
   transition: all 0.7s ease-in-out;
   box-shadow: 1px 1px 2px #000;
}
.view h2 {
   text-align: center;
   position: relative;
   padding: 10px;
   border-bottom: 1px solid rgba(0, 0, 0, 0.3);
   background: transparent;
   margin: 20px 40px 0px 40px;
   transform: scale(0);
   color: #333;
   transition: all 0.5s linear;
}
.view p {
   font-family: Georgia, serif;
   font-style: italic;
   position: relative;
   padding: 10px 20px 20px;
   text-align: center;
   color: #333;
   transform: scale(0);
   transition: all 0.5s linear;
}





.view:hover img {
   transform: scale(10);
    opacity: 0;
   
}

.view:hover h2,.view:hover p {
   transform: scale(1);
   
}

/*******************************/

/*--------PORTFOLIO END ----------*/
/*--------EDUCATION ---------------*/







/*--------EDUCATION END---------------*/

/* -------- AWARD and CERTIFICATIONS------*/

#cc-slider {
	text-align: center;
	margin: 0 auto;
	max-width: 850px;
    position: relative;
}
#cc-slider input {
	display: none;
}
#cc-slider label,#cc-slider a {
	color: #ef023f;
	cursor: pointer;
	text-decoration: none;
}
#cc-slider label:hover {
	color: #ff0042 !important;
}

#slide1:checked ~ #cc-slides .inner { margin-left:0; }
#slide2:checked ~ #cc-slides .inner { margin-left:-100%; }
#slide3:checked ~ #cc-slides .inner { margin-left:-200%; }
#slide4:checked ~ #cc-slides .inner { margin-left:-300%; }
#slide5:checked ~ #cc-slides .inner { margin-left:-400%; }


#overflow {
	width: 100%;
	overflow: hidden;
    
}
#cc-slides article img {
	width: 100%;
}
#cc-slides{
    position: relative;
}
#cc-slides .inner {
	width: 500%;
	line-height: 0;
    
}
#cc-slides article {
	width: 20%;
	float: left;
}

#controls {
    height: 50px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
#controls label {
    display: none;
    width: 50px;
    height: 50px;
    margin: 0 5px;
}
#controls label:hover {
	opacity: 0.8;
}
#slide1:checked ~ #controls label:nth-child(2), 
#slide2:checked ~ #controls label:nth-child(3), 
#slide3:checked ~ #controls label:nth-child(4), 
#slide4:checked ~ #controls label:nth-child(5), 
#slide5:checked ~ #controls label:nth-child(1) {
	background: url('../images/next.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
	float: right;
	display: block;
	
}


#slide1:checked ~ #controls label:nth-child(5),
#slide2:checked ~ #controls label:nth-child(1),
#slide3:checked ~ #controls label:nth-child(2),
#slide4:checked ~ #controls label:nth-child(3),
#slide5:checked ~ #controls label:nth-child(4) {
	background: url('../images/previous.png');
	background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
	float: left;
	display: block;
	
}



/* cctooltip Box */
.cctooltip {
    color: #FFFFFF;
    font-style: italic;
    line-height: 20px;
    top: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    text-align: left;
	transition: all 0.3s ease-out;
}

.cctooltip h3 {
	color: #FFFFFF;
	margin: 0 0 5px;
	font-weight: normal;
	font-size: 16px;
	font-style: normal;
	background: none repeat scroll 0 0 #222222;
	padding: 5px;
}
.cctooltip h4 {
	color: #FFFFFF;
	margin: 0 0 5px;
	font-weight: normal;
	font-size: 14px;
	font-style: normal;
	background: none repeat scroll 0 0 #222222;
	padding: 5px;
	text-align:right;
	width:106px;
}



/* cc-slider Styling */

#cc-slides {
	margin: 45px 0 0;
	padding: 1%;
	background: #fff;
}


/* Animation */
#cc-slides .inner {
	 
        transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
	
}
#cc-slider {
	transition: all 0.5s ease-out;
}

#controls label{
	transition: opacity 0.2s ease-out;
}

#slide1:checked ~ #cc-slides article:nth-child(1) .cctooltip,
#slide2:checked ~ #cc-slides article:nth-child(2) .cctooltip,
#slide3:checked ~ #cc-slides article:nth-child(3) .cctooltip,
#slide4:checked ~ #cc-slides article:nth-child(4) .cctooltip,
#slide5:checked ~ #cc-slides article:nth-child(5) .cctooltip {
	opacity: 1;
	transition: all 1s ease-out 0.6s;
}
/* -------- AWARD and CERTIFICATIONS END --------*/


/* -------- CONTACT ------------------------------*/
/*remove default outline style*/
*:focus {
    outline: none;
}

/*remove list style*/
.contact_form ul {
    list-style-type:none;
    margin:0px;
    padding:0px;
}
.contact_form li{
    padding:12px; 
    border-bottom:1px solid #eee;
    position:relative;
}

.contact_form li:first-child, .contact_form li:last-child {
    border-bottom:1px solid #777;
}

.required_notification {
    color:#d45252; 
    margin:5px 0 0 0; 
    display:inline;
}

.contact_form label {
    width:20%;
    min-width: 100px;
    margin-top: 3px;
    display:inline-block;
    float:left;
    padding:3px;
}
.contact_form input {
    min-width: 150px;
    height:20px; 
    width:40%; 
    padding:5px 8px;
}
.contact_form textarea {
    padding:8px;
    width:50%;
    min-width: 150px;
}
.contact_form button {
    margin-left:20%;
}

.contact_form input, .contact_form textarea { 
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
    padding-right: 30px;
}
.contact_form input:focus, .contact_form textarea:focus {
    background: #fff; 
    border:1px solid #555; 
    box-shadow: 0 0 3px #aaa; 
    padding-right:5%;
    transition: padding .25s;
}

.contact_form button{
   background-color: #68b12f;
   background: linear-gradient(top, #68b12f, #50911e);
    border: 1px solid #509111;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px; 
    box-shadow: inset 0 1px 0 0 #9fd574;
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
}

button.submit:hover {
    opacity:.85;
    cursor: pointer; 
}
button.submit:active {
    border: 1px solid #20911e;
    box-shadow: 0 0 10px 5px #356b0b inset; 
}

.contact_form input:focus:invalid, .contact_form textarea:focus:invalid { /* when a field is considered invalid by the browser */
    background: #fff url(../images/invalid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}

.contact_form input:required:valid, .contact_form textarea:required:valid { /* when a field is considered valid by the browser */
    background: #fff url(../images/valid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}

.form_hint {
    background: #d45252;
    border-radius: 3px 3px 3px 3px;
    color: white;
    margin-left:8px;
    padding: 1px 6px;
    z-index: 999; /* hints stay above all other elements */
    /*position: absolute; *//* allows proper formatting if hint is two lines */
    display: none;
}

.form_hint::before {
    color:#d45252;
    position: absolute;
    top:1px;
    left:-6px;
}

.contact_form input:focus + .form_hint {display: inline;}
.contact_form input:required:valid + .form_hint {background: #28921f;} /* change form hint color when valid */
.contact_form input:required:valid + .form_hint::before {color:#28921f;} /* change form hint arrow color when valid */

    



/*-------FOOTER--------*/
footer{
    box-shadow: 0 0 3px rgba(0,0,0,0.4);
}

.fa{
    font-size: 1.9em;
    color: #678;
}
.fa:hover{
    color: #000;
}

